.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 700px;
    height: 150px;
    font-size: 48px;
    font-family: inherit;
    letter-spacing: 3px;
    color: #fff;
    border: 5px solid #5C87DB;
    background-color: #5C87DB;
    border-radius: 60px;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: #5C87DB;
}